<ion-view view-title="Current Weather">
  <ion-content>
    <ion-refresher
    	pulling-text="Pull to refresh..."
    	on-refresh="getCurrentWeather()">
  	</ion-refresher>

  	<div class="card padding">
    	<weather-icon icon="weather.currently.icon"></weather-icon>
    	<div class="temp">{{weather.currently.temperature | number:0}}&deg;</div>
    	<div class="right-now">Right Now</div>
    	{{weather.currently.summary}}
  	</div>

  	<div class="padding forecast-wrap">
  		<h3>Forecast</h3>
  	</div>

    <div class="card padding" ng-repeat="day in weather.daily.data">
    	<weather-icon icon="day.icon"></weather-icon>
  		<div class="temp temp-small">{{day.temperatureMin | number:0}}&deg; {{day.temperatureMax | number:0}}&deg;</div>
    	<div class="right-now">{{day.time * 1000 | date:'EEEE'}}</div>
  		{{day.summary}}
    </div>
  </ion-content>
</ion-view>
